<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tsgbackend.mapper.UserMapper">
    <resultMap id="User" type="com.example.tsgbackend.bean.User">
        <id property="user_id" column="user_id"/>
        <result property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="user_pwd" column="user_pwd"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="selectUserById" resultMap="User" parameterType="String">
        select * from user where user_id=#{user_id}
    </select>

    <insert id="insertUser" parameterType="com.example.tsgbackend.bean.User">
        insert into user
        value(#{user_id}, #{user_name}, #{user_pwd}, #{phone})
    </insert>

    <delete id="deleteUserById" parameterType="String">
        delete from user where user_id=#{user_id}
    </delete>

    <select id="selectUserByName" resultMap="User" parameterType="String">
        select * from user where user_name=#{user_name}
    </select>
</mapper>